﻿@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1 class="text-center mb-3">@ViewData["Title"]</h1>
@{
<p class="text-center">
        Please check your email to confirm your account.
</p>
}
