﻿.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
    }

        .autocomplete-items div:hover {
            /*when hovering an item:*/
            background-color: #e9e9e9;
        }

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.rating>input {
    display: none;
}

.recipe-tag {
    float: left;
    line-height: 1.5;
    font-size: 1.0rem;
}

.carousel-inner > .carousel-item {
    -webkit-transition: -webkit-transform 0.2s ease-in-out !important;
    -o-transition: -o-transform 0.2s ease-in-out !important;
    transition: transform 0.2s ease-in-out !important;
}

.embed-responsive-9by6::before {
    padding-top: 66.6667%;
}

.btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
}

a .card-body {
    color: black;
}

.no-deco {
    text-decoration: none !important;
}

a:hover .underline {
    text-decoration: underline;
}

.card-shadow {
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}

.card-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.badge-recipe {
    font-size: 14px;
    background-color:#f2f2f2;
    font-weight:lighter;
}

.badge-tag {
    background-color:#f8f8f8;
}

.text-lg {
    font-size: 18px;
}


.cards-wrapper {
    display: flex;
    justify-content: center;
}

.carousel-card {
    margin: 0 0.5em;
    border: none;
    border-radius: 0;
}

.carousel-control {
    background-color: #17a2b8;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.btn-close {
    background-color: white !important;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.btn-control {
    background-color: #17a2b8 !important;
    border-color: #117a8b;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.icon-bar {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}

.icon-bar-bottom {
    position: absolute !important;
    bottom: 10px;
    right: 10px;
    z-index: 2;
}

.img-cover {
    object-fit: cover;
}

.space-prewrap {
    white-space: pre-wrap;
}

.text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.bg-none {
    border: none;
    background: none;
}

.mb-bottom-xl {
    margin-bottom: 5rem;
}

.btn-main {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-main:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}

.btn-down {
    color: #fff;
    background-color: #677d81 !important;
    border-color: #6b989f !important;
}

.btn-down:hover {
    color: #fff;
    background-color: #1f8898 !important;
    border-color: #1f8190 !important;
}

.c-main {
    color: #fff !important;
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}

.c-orange {
    color: orange;
}

.c-red {
    color: red;
}

.c-gray {
    color: gray;
}

.c-black {
    color: black;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.font-22 {
    font-size: 22px;
}

.font-34 {
    font-size: 34px;
}