﻿@model PaginatedList<Cookbook.Models.Recipe>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";

    List<string> imageFiles = ViewData["Images"] as List<string>;
    List<string>[] tags = ViewData["Tags"] as List<string>[];

    string allRecipes = string.IsNullOrWhiteSpace(ViewData["FilterBy"] as string) ? "active" : null;
    string createdRecipes = (ViewData["FilterBy"] as string) == "created" ? "active" : null;
    string savedRecipes = (ViewData["FilterBy"] as string) == "saved" ? "active" : null;

    string ratingHl = (ViewData["CurrentSort"] as string).Contains("rating") ? "btn-main" : "btn-down";
    string dateHl = (ViewData["CurrentSort"] as string).Contains("date") ? "btn-main" : "btn-down";
}

<div>
    <div class="row mb-5">
        <!--Title-->
        <div class="col-2"></div>
        <div class="col-7">
            <h1>@User.Identity.Name's Cookbook</h1>
        </div>
        <!--New Recipe-->
        <div class="col-3 align-self-center text-right">
            <a asp-controller="Recipe" asp-action="Create" class="btn btn-main">
                <i class="fas fa-plus"></i> &nbsp; Create New Recipe
            </a>
        </div>
    </div>
    <div class="row mb-4">
        <!--Sort Buttons-->
        <div class="col-2"></div>
        <div class=" col-4" role="group" aria-label="Sort buttons">
            <div class="btn-group w-100">
                <a asp-action="Cookbook" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-sortBy="rating" asp-route-currentFilter="@ViewData["CurrentFilter"]" 
                   asp-route-filterby="@ViewData["FilterBy"]" class="btn @ratingHl">
                    Rating @if (ViewData["CurrentSort"] as string == "rating_asc")
                    {
                        <i class="fa fa-chevron-up"></i>
                    }
                    else if (ViewData["CurrentSort"] as string == "rating_desc")
                    {
                        <i class="fa fa-chevron-down"></i>
                    }
                </a>
                <a asp-action="Cookbook" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-sortBy="date" asp-route-currentFilter="@ViewData["CurrentFilter"]" 
                   asp-route-filterby="@ViewData["FilterBy"]" class="btn @dateHl">
                    Date @if (ViewData["CurrentSort"] as string == "date_asc")
                    {
                        <i class="fa fa-chevron-up"></i>
                    }
                    else if (ViewData["CurrentSort"] as string == "date_desc")
                    {
                        <i class="fa fa-chevron-down"></i>
                    }
                </a>
            </div>
        </div>
        <div class="col-4 ml-auto">
            <form class="input-group" asp-controller="Recipe" asp-action="Cookbook" asp-route-filterby="@ViewData["FilterBy"]">
                <input class="form-control my-0 py-1" name="searchString" type="text" placeholder="Search..." aria-label="Search" value="@ViewData["CurrentFilter"]">
                <div class="input-group-append">
                    <button type="submit" class="input-group-text btn-main">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </form>
        </div>
        <!--Sort Buttons END-->
    </div>
    <div class="row">
        <!--Navbar-->
        <div class="col-2">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item"><a class="nav-link c-black @allRecipes" asp-action="Cookbook">All Recipes</a></li>
                <li class="nav-item"><a class="nav-link c-black @createdRecipes" asp-action="Cookbook" asp-route-filterby="created">My Recipes</a></li>
                <li class="nav-item"><a class="nav-link c-black @savedRecipes" asp-action="Cookbook" asp-route-filterby="saved">Saved Recipes</a></li>
            </ul>
        </div>

        <!--Recipe Results-->
        <div class="col">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="row">
                    <a asp-action="Details" asp-route-id="@Model[i].Id" class="card mb-2 w-100 no-deco card-shadow">
                        <div class="card-body row">
                            <div class="mt-0 mb-0 ml-2 mr-5 w-25 embed-responsive embed-responsive-9by6">
                                @if (!string.IsNullOrWhiteSpace(imageFiles[i]))
                                {
                                    <img src="~/uploads/img/recipes/@imageFiles[i]" alt="recipe thumbnail" class="rounded w-100 embed-responsive-item img-cover"/>
                                }
                                else
                                {
                                    <img src="~/images/placeholder.jpg" alt="recipe thumbnail" class="rounded w-100 embed-responsive-item img-cover" />
                                }
                            </div>

                            <div>
                                <span class="h4"><strong>@Model[i].Title</strong></span>
                                <div class="mt-3">
                                    @for (float j = 0.99f, r = Model[i].CalculateRatingRounded(); j <= 5; j++)
                                    {
                                        @if (j < r)
                                        {
                                            <i class="fas fa-star" style="color:orange"></i>
                                        }
                                        else if (j - 0.5f < r)
                                        {
                                            <i class="fas fa-star-half-alt" style="color:orange"></i>
                                        }
                                        else
                                        {
                                            <i class="far fa-star" style="color:gray;"></i>
                                        }
                                    }
                                </div>

                                <div class="mt-3">
                                    <span class="mr-3"><i class="far fa-clock"></i> @Model[i].Time min.</span>
                                    <span class="mr-3"><i class="fas fa-signal"></i> @((Difficulty)Model[i].Difficulty)</span>
                                    <span><i class="far fa-calendar-alt"></i> @Model[i].CreationDate.ToShortDateString()</span>
                                </div>

                                <div class="row ml-1 mt-4 w-100">
                                    @for (int j = 0; j < Math.Min(tags[i].Count, 5); j++)
                                    {
                                        <span class="badge badge-tag">@tags[i][j]</span>
                                    }
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!--Recipe results END-->
            }

            <div class="row justify-content-center">
                <!--Paging-->
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-default @prevDisabled">
                    Previous
                </a>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-default @nextDisabled">
                    Next
                </a>
            </div>
        </div>
    </div>


</div>