﻿@model Cookbook.Models.Recipe

@{ 
    ViewData["Title"] = "Create Recipe";
}

<!--Create Recipe Form-->
<form method="post" enctype="multipart/form-data" asp-action="Create" autocomplete="off">
    <input asp-for="Creator" value="Creator" hidden />
    <div class="border p-3">
        <div asp-validation-summary="All" class="text-danger"></div>

        <!--Recipe Name-->
        <div class="form-group mb-4">
            <div>
                <label asp-for="Title" class="col-form-label-lg mb-0"></label>
            </div>
            <div class="w-75">
                <input asp-for="Title" class="form-control" />
            </div>
        </div>

        <!--Ingredients Input-->
        <div class="form-group mb-4">
            <div>
                <label asp-for="Ingredients" class="col-form-label-lg mb-0"></label>
                <input id="ingredient-input" asp-for="Ingredients" hidden />
            </div>
            <div class="row">
                <label class="col-2 col-form-label mr-4">Amount</label>
                <label class="col-2 col-form-label">Ingredient</label>
            </div>
            <div id="ingredient-table" class="container">
                @if (Model == null || string.IsNullOrWhiteSpace(Model.Ingredients))
                {
                    <div id="ingredient-row" class="row mb-1">
                        <input class="form-control col-2 mr-4" />
                        <input class="form-control col-2" />
                    </div>
                    <div id="ingredient-row" class="row mb-1">
                        <input class="form-control col-2 mr-4" />
                        <input class="form-control col-2" />
                    </div>
                    <div id="ingredient-row" class="row mb-1">
                        <input class="form-control col-2 mr-4" />
                        <input class="form-control col-2" />
                    </div>
                }
                else
                {
                    foreach (var item in Model.ParsedIngredients())
                    {
                        <div id="ingredient-row" class="row mb-1">
                            <input class="form-control col-2 mr-4" value="@item[0]"/>
                            <input class="form-control col-2" value="@item[1]"/>
                        </div>
                    }
                }
            </div>
            <div class="row mt-1 pr-5">
                <div class="col-4"></div>
                <button type="button" onclick="deleteRow()" class="bg-none"><i class="fas fa-minus-circle"></i></button>
                <button type="button" onclick="addRow()" class="bg-none"><i class="fas fa-plus-circle"></i></button>
            </div>
        </div>


        <!--Recipe Directions-->
        <div class="form-group mb-4">
            <div>
                <label asp-for="Directions" class="col-form-label-lg mb-0"></label>
            </div>
            <div class="w-75">
                <textarea asp-for="Directions" class="form-control" rows="15"></textarea>
            </div>
        </div>

        <!--Cooking Time-->
        <div class="form-group mb-4">
            <div>
                <label asp-for="Time" class="col-form-label-lg mb-0">Time <span class="h6">(in minutes)</span></label>
            </div>
            <div>
                <input asp-for="Time" class="form-control w-50" placeholder="How long does it take to make this dish?" />
            </div>
        </div>

        <!--Recipe Difficulty-->
        <div class="form-group mb-4">
            <div>
                <label asp-for="Difficulty" class="col-form-label-lg mb-0"></label>
            </div>
            <div class="w-50">
                <select asp-for="Difficulty" class="custom-select">
                    <option selected>How difficult is this recipe to make?</option>
                    <option value="1">Simple</option>
                    <option value="2">Normal</option>
                    <option value="3">Intricate</option>
                </select>
            </div>
        </div>

        <!--Recipe Tags-->
        <div class="form-group mb-4">
            <div class="pt-1 ml-0" id="tag-list">
            </div>
            <div>
                <label class="col-form-label-lg mb-0">Tags</label>
            </div>
            <div class="autocomplete w-50">
                <input id="taginput" class="form-control" type="text" />
            </div>
            <input name="tags" hidden id="added-tags" />
        </div>

        <!--Image Upload-->
        <div class="form-group mb-xl-5">
            <label class="col-form-label-lg">Upload Images</label>
            <div class="w-50">
                <div class="input-group custom-file">
                    <input class="custom-file-input" type="file" name="files" id="image-input" accept="image/*" aria-describedby="image-input" multiple />
                    <label class="custom-file-label" for="image-input">Choose image(s)</label>
                </div>
            </div>
        </div>

        <!--Submit Form-->
        <div class="form-group">
            <div class="row">
                <div class="col-2">
                    <a asp-action="Index" class="btn btn-dark">
                        <i class="fas fa-sign-out-alt"></i> Back
                    </a>
                </div>
                <div class="col-4 text-center">
                    <input type="submit" class="btn btn-primary w-100" value="Create Recipe" />
                </div>

            </div>
        </div>
    </div>
</form>



<!--Get available tags from database-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    var taglist = document.querySelector('#tag-list');

    $(document).ready(function () {

        $.ajax({
            type: "GET",
            url: "@Url.Action("GetAllTags")",
            success: function (msg) {
                autocomplete(document.getElementById("taginput"), msg);
            },
            error: function (req, status, error) {
                console.log(msg);
            }
        });
    });

    $(document).on("keydown", ":input:not(textarea)", function (event) {
        return event.key != "Enter";
    });
</script>

<!--Autocomplete for tags-->
<script>
    function autocomplete(inp, arr) {
        /*the autocomplete function takes two arguments,
        the text field element and an array of possible autocompleted values:*/
        var currentFocus;
        /*execute a function when someone writes in the text field:*/
        inp.addEventListener("input", function (e) {
            var a, b, i, val = this.value;
            /*close any already open lists of autocompleted values*/
            closeAllLists();
            if (!val) { return false; }
            currentFocus = -1;
            /*create a DIV element that will contain the items (values):*/
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            /*append the DIV element as a child of the autocomplete container:*/
            this.parentNode.appendChild(a);
            /*for each item in the array...*/
            for (i = 0; i < arr.length; i++) {
                /*check if the item starts with the same letters as the text field value:*/
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    /*create a DIV element for each matching element:*/
                    b = document.createElement("DIV");
                    /*make the matching letters bold:*/
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    /*insert a input field that will hold the current array item's value:*/
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    /*execute a function when someone clicks on the item value (DIV element):*/
                    b.addEventListener("click", function (e) {
                        /*insert the value for the autocomplete text field:*/
                        inp.value = this.getElementsByTagName("input")[0].value;
                        /*close the list of autocompleted values,
                        (or any other open lists of autocompleted values:*/
                        closeAllLists();

                        /*Add tag element*/
                        var parentDiv = document.createElement("div");
                        var tagtext = document.createElement("div");
                        tagtext.textContent = inp.value;
                        var closebtn = document.createElement("button");
                        var closesymbol = document.createElement("span");
                        closesymbol.innerHTML = '&times;';

                        parentDiv.classList.add("badge", "badge-secondary", "pl-2", "pr-2", "mr-2");
                        tagtext.classList.add("recipe-tag", "mr-2");
                        closebtn.classList.add("close");
                        closebtn.type = "button";
                        closebtn.addEventListener("click", function () {
                            this.parentElement.parentElement.removeChild(this.parentElement);
                        });

                        parentDiv.appendChild(tagtext);
                        closebtn.appendChild(closesymbol);
                        parentDiv.appendChild(closebtn);
                        taglist.appendChild(parentDiv);

                        // Clear input field
                        inp.value = "";
                    });
                    a.appendChild(b);
                }
            }
        });
        /*execute a function presses a key on the keyboard:*/
        inp.addEventListener("keydown", function (e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                currentFocus++;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                currentFocus--;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocus > -1) {
                    /*and simulate a click on the "active" item:*/
                    if (x) x[currentFocus].click();
                }
            }
        });
        function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
        }
        function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }
        function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }
        /*execute a function when someone clicks in the document:*/
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }
</script>


<script>
    document.addEventListener('submit', onSubmit);

    function onSubmit(event) {
        const dest = document.querySelector("#ingredient-input");
        dest.value = "";
        const ingredients = document.querySelectorAll("#ingredient-row input");

        ingredients.forEach((x) => {
            dest.value += x.value + "|";
        });
        dest.value = dest.value.slice(0, -1);

        for (var i = 0; i < dest.value.length; i++) {
            if (dest.value[i] != '|') {
                break;
            }
            if (i == dest.value.length - 1) {
                dest.value = "";
            }
        }


        const tagoutput = document.querySelector('#added-tags');
        const tags = document.querySelectorAll('#tag-list .recipe-tag');
        tags.forEach((x) => {
            if (x.textContent.length > 0) {
                tagoutput.value += x.textContent + "|";
            }
        });
        tagoutput.value = tagoutput.value.slice(0, -1);
    }

    function addRow(event) {
        const parent = document.querySelector("#ingredient-table");
        const src = document.querySelector("#ingredient-row");
        let cln = src.cloneNode(true);
        cln.childNodes.forEach(x => { x.value = ""; });

        parent.appendChild(cln);
    }

    function deleteRow(event) {
        const rows = document.querySelectorAll("#ingredient-row");
        if (rows.length > 1) {
            rows[rows.length - 1].parentNode.removeChild(rows[rows.length - 1]);
        }
    }
</script>

<script>
    document.querySelector('.custom-file-input').addEventListener('change', function (e) {
        var fileName = document.getElementById("image-input").files[0].name;
        var nextSibling = e.target.nextElementSibling;
        nextSibling.innerText = fileName;
    })
</script>

@section Scripts {

    @{
        <partial name="_ValidationScriptsPartial" />

    }
}
