﻿@model Cookbook.Models.Recipe

@{
    ViewData["Title"] = Model.Title;

    List<string> imageFiles = ViewData["Images"] as List<string>;
    int voteCount = Model.OneStars + Model.TwoStars + Model.ThreeStars + Model.FourStars + Model.FiveStars;
    int userRating = (ViewData["UserRating"] as int?).Value;

    string saved = (ViewData["Saved"] as bool?) == true ? "Saved" : "Save Recipe";
    string savedBtn = (ViewData["Saved"] as bool?) == true ? "btn-success" : "btn-dark";
    string status = ViewData["Status"] as string;
}



<!--Gallery Modal-->
<div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="galleryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div id="carouselModalGallery" class="row carousel" data-interval="false">
                <div class="carousel-inner embed-responsive embed-responsive-9by6 position-relative" id="modalGallery">
                    <div class="row icon-bar">
                        <a asp-controller="Recipe" asp-route-id="@Model.Id" asp-action="UploadImage" class="btn btn-main"><i class="fas fa-camera"></i></a>
                        <button type="button" class="close ml-5 mr-4" data-dismiss="modal" aria-label="Close">
                            <div class="btn-close" aria-hidden="true">&times;</div>
                        </button>
                    </div>
                    @for (int imageIndex = 0; imageIndex < imageFiles.Count; imageIndex++)
                    {
                        if (!String.IsNullOrWhiteSpace(imageFiles[imageIndex]))
                        {
                            <div class="carousel-item embed-responsive-item">
                                <img class="w-100 rounded" src="~/uploads/img/recipes/@imageFiles[imageIndex]" alt="recipe image">
                            </div>
                        }
                    }
                </div>
                <a class="carousel-control-prev" href="#carouselModalGallery" role="button" data-slide="prev">
                    <div class="row justify-content-center align-items-center btn-control">
                        <div class="carousel-control-prev-icon" aria-hidden="true"></div>
                    </div>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselModalGallery" role="button" data-slide="next">
                    <div class="row justify-content-center align-items-center btn-control">
                        <div class="carousel-control-next-icon" aria-hidden="true"></div>
                    </div>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!--Gallery Modal END-->

<!--Delete Confirmation Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this recipe?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a asp-controller="Recipe" asp-route-Id="@Model.Id" asp-action="Delete" class="btn btn-primary">Delete</a>
            </div>
        </div>
    </div>
</div>
<!--Delete Modal END-->

@if (!string.IsNullOrWhiteSpace(status))
{
    <!--Status Message-->
    <div>
        <span class="text-danger text-center">@status</span>
    </div>
}

<div>
    <!--Recipe Title-->
    <div class="row mb-3 justify-content-center">
        <h1>@Model.Title</h1>
    </div>

    <!--Edit, Delete Buttons-->
    @if (User.Identity.Name == Model.Creator)
    {
        <div class="row mb-3 justify-content-center">
            <a asp-controller="Recipe" asp-route-Id="@Model.Id" asp-action="Edit" class="btn btn-main mr-3"><i class="fas fa-edit"></i> Edit</a>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash-alt"></i> Delete</button>
        </div>
    }

    <!--Image Carousel-->
    <div id="recipeGallery" class="row carousel col-lg-8 col-md-10 col-sm-12 mr-auto ml-auto mb-3" data-interval="false">
        <div class="carousel-inner embed-responsive embed-responsive-9by6 position-relative" id="gallery">
            @for (int imageIndex = 0; imageIndex < imageFiles.Count; imageIndex++)
            {
                if (!String.IsNullOrWhiteSpace(imageFiles[imageIndex]))
                {
                    @if (imageIndex == 0)
                    {
                        <div class="icon-bar">
                            <a asp-controller="Recipe" asp-route-id="@Model.Id" asp-action="UploadImage" class="btn btn-main"><i class="fas fa-camera"></i></a>
                        </div>
                        <div class="carousel-item active embed-responsive-item">
                            <a href="#" data-toggle="modal" data-target="#galleryModal" onclick="setModalImage(@imageIndex)">
                                <img class=" w-100 rounded img-cover" src="~/uploads/img/recipes/@imageFiles[imageIndex]" alt="recipe image">
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item embed-responsive-item">
                            <a href="#" data-toggle="modal" data-target="#galleryModal" onclick="setModalImage(@imageIndex)">
                                <img class=" w-100 rounded img-cover" src="~/uploads/img/recipes/@imageFiles[imageIndex]" alt="recipe image">
                            </a>
                        </div>
                    }
                }
            }
            @if (imageFiles.Count == 0)
            {
                <div class="icon-bar">
                    <a asp-controller="Recipe" asp-route-id="@Model.Id" asp-action="UploadImage" class="btn btn-main"><i class="fas fa-camera"></i></a>
                </div>
                <div class="carousel-item active embed-responsive-item">
                    <img class="d-block w-100 rounded img-cover" src="~/images/placeholder.jpg" alt="recipe image">
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#recipeGallery" role="button" data-slide="prev">
            <div class="row justify-content-center align-items-center btn-control">
                <div class="carousel-control-prev-icon" aria-hidden="true"></div>
            </div>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#recipeGallery" role="button" data-slide="next">
            <div class="row justify-content-center align-items-center btn-control">
                <div class="carousel-control-next-icon" aria-hidden="true"></div>
            </div>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!--Image Carousel END-->

    <!--Save Recipe, Show Gallery Buttons-->
    <div class="row col-lg-8 col-md-10 col-sm-12 mb-3 mr-auto ml-auto">
        @if (User.Identity.IsAuthenticated)
        {
            <button type="button" class="btn @savedBtn col-3 mr-3 mb-2 p-0" onclick="saveRecipe()"><i class="fas fa-bookmark"></i><span class="ml-1" id="save-text">@saved</span></button>
        }
        <a asp-controller="Recipe" asp-route-id="@Model.Id" asp-action="Gallery" class="btn btn-main col-3 mr-auto mb-2"><i class="far fa-images"></i> Show Gallery</a>

        <div class="align-self-center">
            <span>Author: <a asp-action="GetRecipesFromCreator" asp-route-creator="@Model.Creator">@Model.Creator</a></span>
        </div>
    </div>
    <!--Save Recipe, Show Gallery Buttons END-->

    <!--Star Rating-->
    <div class="row col-lg-8 col-md-10 col-sm-12 mb-3 mr-auto ml-auto">
        <input hidden disabled type="number" id="rating-avg" value="@Model.CalculateRatingRounded()" />
        <input hidden disabled type="number" id="rating-user" value="@userRating" />
        @if (User.Identity.IsAuthenticated)
        {
            <div id="rating">
                <span onmouseover="previewRating(1)" onmouseout="showRating()" onclick="rateRecipe(1)"><i class="fas fa-star fa-lg"></i></span>
                <span onmouseover="previewRating(2)" onmouseout="showRating()" onclick="rateRecipe(2)"><i class="fas fa-star fa-lg"></i></span>
                <span onmouseover="previewRating(3)" onmouseout="showRating()" onclick="rateRecipe(3)"><i class="fas fa-star fa-lg"></i></span>
                <span onmouseover="previewRating(4)" onmouseout="showRating()" onclick="rateRecipe(4)"><i class="fas fa-star fa-lg"></i></span>
                <span onmouseover="previewRating(5)" onmouseout="showRating()" onclick="rateRecipe(5)"><i class="fas fa-star fa-lg"></i></span>
            </div>
        }
        else
        {
            <div id="rating">
                <span><i class="fas fa-star fa-lg"></i></span>
                <span><i class="fas fa-star fa-lg"></i></span>
                <span><i class="fas fa-star fa-lg"></i></span>
                <span><i class="fas fa-star fa-lg"></i></span>
                <span><i class="fas fa-star fa-lg"></i></span>
            </div>
        }
        <span class="ml-4 mr-4 font-weight-bold">@Model.CalculateRating().ToString("0.00")</span>
        <span>(@voteCount ratings)</span>
    </div>
    <!--Star Rating END-->

    <!--Creation Date, Cooking Time-->
    <div class="row col-lg-8 col-md-10 col-sm-12 mb-3 mr-auto ml-auto font-18">
        <span class="mr-4 p-2 badge badge-light"><i class="far fa-clock"></i> @Model.Time minutes</span>
        <span class="p-2 badge badge-light"><i class="far fa-calendar-alt"></i> @Model.CreationDate.ToShortDateString()</span>
    </div>
    <hr />

    <!--Ingredient Table-->
    <div class="row col-lg-8 col-md-10 col-sm-12 mb-3 mr-auto ml-auto">
        <h3 class="col-12 pl-0 mb-3">Ingredients</h3>
        <table class="table table-striped table-bordered w-50">
            <tbody>
                @foreach (var row in Model.ParsedIngredients())
                {
                    <tr>
                        <td class="text-right">@row[0]</td>
                        <td class="text-left">@row[1]</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <hr />

    <!--Directions-->
    <div class="row col-lg-8 col-md-10 col-sm-12 mb-3 mr-auto ml-auto">
        <h3 class="col-12 pl-0">Directions</h3>
        <p class="space-prewrap">@Model.Directions</p>
    </div>

    <!--Recipe Tags-->
    <div class="row col-lg-8 col-md-10 col-sm-12 mb-3 mr-auto ml-auto font-22">
        @foreach (string tag in ViewData["Tags"] as List<string>)
        {
            <span class="badge badge-secondary m-2 p-2">
                <a class="text-white" asp-action="GetRecipesWithTag" asp-route-tag="@tag">
                    @tag
                </a>
            </span>
        }
    </div>
</div>

<!--Display interactive rating-->
<script>
    const avgRating = document.querySelector('#rating-avg');
    const userRating = document.querySelector('#rating-user');
    const ratingStars = document.querySelectorAll("#rating > span");
    showRating();

    function previewRating(index) {
        for (var i = 0; i < ratingStars.length; i++) {
            if (i < index) {
                ratingStars[i].style.color = "red";
            } else {
                ratingStars[i].style.color = "black";
            }
        }
    }

    function showRating() {
        for (var i = 0; i < ratingStars.length; i++) {
            // show personal rating
            if (userRating.value > 0) {
                if (i < userRating.value) {
                    ratingStars[i].firstChild.classList.remove("fa-star-half-alt", "far");
                    ratingStars[i].firstChild.classList.add("fa-star", "fas");
                    ratingStars[i].style.color = "red";
                } else {
                    ratingStars[i].firstChild.classList.remove("fa-star-half-alt", "far");
                    ratingStars[i].firstChild.classList.add("fa-star", "fas");
                    ratingStars[i].style.color = "black";
                }
                // show community rating
            } else if (avgRating.value > 0) {
                if (i + 1 <= avgRating.value) {
                    ratingStars[i].firstChild.classList.remove("fa-star-half-alt", "far");
                    ratingStars[i].firstChild.classList.add("fa-star", "fas");
                    ratingStars[i].style.color = "orange";
                } else if (i + 0.5 <= avgRating.value) {
                    console.log(ratingStars[i].firstChild);
                    ratingStars[i].firstChild.classList.remove("fa-star", "far");
                    ratingStars[i].firstChild.classList.add("fa-star-half-alt", "fas");
                    ratingStars[i].style.color = "orange";
                } else {
                    ratingStars[i].firstChild.classList.remove("fa-star-half-alt", "far");
                    ratingStars[i].firstChild.classList.add("fa-star", "fas");
                    ratingStars[i].style.color = "black";
                }
                // not rated
            } else {
                ratingStars[i].firstChild.classList.remove("fa-star-half-alt", "fas");
                ratingStars[i].firstChild.classList.add("fa-star", "far");
                ratingStars[i].style.color = "gray";
            }
        }
    }

    const items = document.querySelectorAll('#modalGallery .carousel-item');

    function setModalImage(index) {
        items.forEach(item => {
            item.classList.remove('active');
        });
        items.item(index).classList.add('active');
    }

</script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">

    // called when user rates recipe
    function rateRecipe(rating) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("RateRecipe")",
            data: { rating: rating, recipeId: @Model.Id},
            success: function (success) {
                if (success) {
                    userRating.value = rating;
                } else {
                    userRating.value = 0;
                }
                showRating();
            },
            error: function (req, status, error) {
                console.log(msg);
            }
        });
    }

    const saveButtonTxt = document.querySelector('#save-text');

    // called when user saves recipe
    function saveRecipe() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("SaveRecipe")",
            data: {recipeId: @Model.Id},
            success: function (saved) {
                if (saved) {
                    saveButtonTxt.textContent = "Saved";
                    saveButtonTxt.parentElement.classList.remove('btn-dark');
                    saveButtonTxt.parentElement.classList.add('btn-success');
                } else {
                    saveButtonTxt.textContent = "Save Recipe";
                    saveButtonTxt.parentElement.classList.remove('btn-success');
                    saveButtonTxt.parentElement.classList.add('btn-dark');
                }
            },
            error: function (req, status, error) {
                console.log(msg);
            }
        });
    }

</script>