﻿@model PaginatedList<Image>

@{
    ViewData["Title"] = "Gallery";

    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="container">

    <!--Buttons-->
    <div class="mb-4">
        <a  class="btn btn-main" asp-action="Details" asp-route-id="@ViewData["RecipeId"]" return false;"><i class="fa fa-chevron-left"></i> Back To Recipe</a>
    </div>

    <!--Gallery Modal-->
    <div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="galleryModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div id="carouselModalGallery" class="row carousel" data-interval="false">
                    <div class="carousel-inner embed-responsive embed-responsive-9by6 position-relative" id="modalGallery">
                        <div class="row icon-bar">
                            <button type="button" class="close ml-5 mr-4" data-dismiss="modal" aria-label="Close">
                                <div class="btn-close" aria-hidden="true">&times;</div>
                            </button>
                        </div>
                        @for (int imageIndex = 0; imageIndex < Model.Count; imageIndex++)
                        {
                            if (!String.IsNullOrWhiteSpace(Model[imageIndex].FileName))
                            {
                                <div class="carousel-item embed-responsive-item">
                                    <img class="w-100 rounded" src="~/uploads/img/recipes/@Model[imageIndex].FileName" alt="recipe image">
                                </div>
                            }
                        }
                    </div>
                    <a class="carousel-control-prev" href="#carouselModalGallery" role="button" data-slide="prev">
                        <div class="row justify-content-center align-items-center btn-control">
                            <div class="carousel-control-prev-icon" aria-hidden="true"></div>
                        </div>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselModalGallery" role="button" data-slide="next">
                        <div class="row justify-content-center align-items-center btn-control">
                            <div class="carousel-control-next-icon" aria-hidden="true"></div>
                        </div>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--Gallery Modal END-->

    <!--Recipe Images-->
    <div class="row">
        @for (int index = 0; index < Model.Count; index++)
        {
            if (!String.IsNullOrWhiteSpace(Model[index].FileName))
            {
                <div class="col-lg-3 col-md-4 col-6 mb-3">
                    <a href="#" class="embed-responsive embed-responsive-1by1" data-toggle="modal" data-target="#galleryModal" onclick="setModalImage(@index)">
                        <img src="~/uploads/img/recipes/@Model[index].FileName" alt="recipe image" class="img-fluid rounded embed-responsive-item img-cover"/>
                    </a>
                </div>
            }
        }
    </div>

    <div class="row justify-content-center align-items-baseline">
        <a asp-action="Gallery"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           class="btn btn-default @prevDisabled">
            <i class="fa fa-chevron-left fa-lg"></i>
        </a>
        <h5>@Model.PageIndex</h5>
        <a asp-action="Gallery"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           class="btn btn-default @nextDisabled">
            <i class="fa fa-chevron-right fa-lg"></i>
        </a>
    </div>

</div>

<script>
    const items = document.querySelectorAll('#modalGallery .carousel-item');

    function setModalImage(index) {
        items.forEach(item => {
            item.classList.remove('active');
        });
        items.item(index).classList.add('active');
    }
</script>