﻿@model PaginatedList<Cookbook.Models.Recipe>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";

    List<string> imageFiles = ViewData["Images"] as List<string>;

    string searchstring = string.IsNullOrWhiteSpace(ViewData["CurrentFilter"] as string) ? "All recipes" : $"<em>{ViewData["CurrentFilter"] as string}</em> recipes";
    List<string>[] tags = ViewData["Tags"] as List<string>[];

    ViewData["Title"] = string.IsNullOrWhiteSpace(ViewData["CurrentFilter"] as string) ? "All recipes" : $"{ViewData["CurrentFilter"] as string} recipes";

    string ratingHl = (ViewData["CurrentSort"] as string).Contains("rating")? "btn-main" : "btn-down";
    string dateHl = (ViewData["CurrentSort"] as string).Contains("date") ? "btn-main" : "btn-down";
}


<div class="row">
    <div class="col-6">
        <h1>@Html.Raw(@searchstring)</h1>
    </div>
</div>

<br />

<!--Sort Buttons-->
<div class="btn-group mb-4 w-100" role="group" aria-label="Sort buttons">
    <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-sortBy="rating" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn @ratingHl col-2">
        Rating
        @if (ViewData["CurrentSort"] as string == "rating_asc")
        {
            <i class="fa fa-chevron-up"></i>
        }
        else if (ViewData["CurrentSort"] as string == "rating_desc")
        {
            <i class="fa fa-chevron-down"></i>
        }
    </a>
    <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-sortBy="date" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn @dateHl col-2">
        Date
        @if (ViewData["CurrentSort"] as string == "date_asc")
        {
            <i class="fa fa-chevron-up"></i>
        }
        else if (ViewData["CurrentSort"] as string == "date_desc")
        {
            <i class="fa fa-chevron-down"></i>
        }
    </a>
</div>


<div class="col">
    <!--Search Results-->
    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="row">
            <a asp-action="Details" asp-route-id="@Model[i].Id" class="card mb-2 w-100 no-deco card-shadow">
                <div class="card-body row">
                    <!--Recipe Image-->
                    <div class="mt-0 mb-0 ml-2 mr-5 w-25 embed-responsive embed-responsive-9by6">
                        @if (!string.IsNullOrWhiteSpace(imageFiles[i]))
                        {
                            <img src="~/uploads/img/recipes/@imageFiles[i]" alt="recipe thumbnail" class="rounded w-100 embed-responsive-item img-cover" />
                        }
                        else
                        {
                            <img src="~/images/placeholder.jpg" alt="recipe thumbnail" class="rounded w-100 embed-responsive-item img-cover" />
                        }
                    </div>

                    <div>
                        <!--Recipe Name-->
                        <span class="h4 underline"><strong>@Model[i].Title</strong></span>
                        <!--Rating-->
                        <div class="mt-3">
                            @for (float j = 0.99f, r = Model[i].CalculateRatingRounded(); j <= 5; j++)
                            {
                                @if (j < r)
                                {
                                    <i class="fas fa-star c-orange"></i>
                                }
                                else if (j - 0.5f < r)
                                {
                                    <i class="fas fa-star-half-alt c-orange"></i>
                                }
                                else
                                {
                                    <i class="far fa-star c-gray"></i>
                                }
                            }
                            <span class="ml-1">@Model[i].GetRatingsCount()</span>
                        </div>

                        <!--Recipe Difficulty, Date...-->
                        <div class="row ml-1 mt-3">
                            <span class="badge badge-recipe"><i class="far fa-clock"></i> @Model[i].Time min.</span>
                            <span class=" badge badge-recipe ml-3"><i class="fas fa-signal"></i> @((Difficulty)Model[i].Difficulty)</span>
                            <span class="badge badge-recipe ml-3"><i class="far fa-calendar-alt"></i> @Model[i].CreationDate.ToShortDateString()</span>
                        </div>

                        <!--Recipe Tags-->
                        <div class="row ml-1 mt-4 w-100">
                            @for (int j = 0; j < Math.Min(tags[i].Count, 5); j++)
                            {
                                <span class="badge badge-tag font-weight-light">@tags[i][j]</span>
                            }
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!--Search Results END-->
    }
</div>

<div class="row justify-content-center">
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</div>
