﻿@model Int32

@{ 
    ViewData["Title"] = "Upload Image";
}

<!--Upload Image Form-->
<form method="post" enctype="multipart/form-data" asp-route-id="@Model" asp-action="UploadImage">
    <div class="d-flex flex-column align-items-center">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group mb-5">
            <!--Form Label-->
            <label class="col-form-label-lg">Upload Images</label>
            <!--Upload Input-->
            <div class="input-group w-100">
                <div class="custom-file">
                    <input class="custom-file-input" type="file" name="files" id="image-input" accept="image/*" multiple />
                    <label class="custom-file-label" for="image-input">Choose files</label>
                </div>
            </div>
        </div>

        <div class="form-group mt-5 w-100">
            <div class="d-flex justify-content-center">
                <!--Back Button-->
                <a asp-action="Details" asp-route-id="@Model" class="btn btn-dark mr-4">
                    <i class="fas fa-sign-out-alt"></i> Back
                </a>
                <!--Submit Button-->
                <input type="submit" class="btn btn-main" value="Upload Images" />
            </div>
        </div>

    </div>
</form>

<script>
    document.querySelector('.custom-file-input').addEventListener('change', function (e) {
        var fileName = document.getElementById("image-input").files[0].name;
        var nextSibling = e.target.nextElementSibling;
        nextSibling.innerText = fileName;
    })
</script>