﻿@model PaginatedList<Image>

@{
    ViewData["Title"] = $"{User.Identity.Name}'s Gallery";

    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    string status = ViewData["Status"] as string;
}

<div>
    <h1 class="mb-4">@User.Identity.Name's Gallery</h1>

    <!--Gallery Modal-->
    <div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="galleryModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div id="carouselModalGallery" class="row carousel" data-interval="false">
                    <div class="carousel-inner embed-responsive embed-responsive-9by6 position-relative" id="modalGallery">
                        <div class="row icon-bar">
                            <button type="button" class="close ml-5 mr-4" data-dismiss="modal" aria-label="Close">
                                <div class="btn-close" aria-hidden="true">&times;</div>
                            </button>
                        </div>
                        @for (int imageIndex = 0; imageIndex < Model.Count; imageIndex++)
                        {
                            if (!String.IsNullOrWhiteSpace(Model[imageIndex].FileName))
                            {
                                <div class="carousel-item embed-responsive-item">
                                    <div class="icon-bar-bottom">
                                        <a class="btn btn-light mr-2" asp-action="Details" asp-route-id="@Model[imageIndex].RecipeId">
                                            <span>Go to recipe</span>
                                        </a>
                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" onclick="setDeleteId(@Model[imageIndex].Id)">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </div>
                                    <img class="w-100 rounded" src="~/uploads/img/recipes/@Model[imageIndex].FileName" alt="recipe-image">
                                </div>
                            }
                        }
                    </div>
                    <a class="carousel-control-prev" href="#carouselModalGallery" role="button" data-slide="prev">
                        <div class="row justify-content-center align-items-center btn-control">
                            <div class="carousel-control-prev-icon" aria-hidden="true"></div>
                        </div>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselModalGallery" role="button" data-slide="next">
                        <div class="row justify-content-center align-items-center btn-control">
                            <div class="carousel-control-next-icon" aria-hidden="true"></div>
                        </div>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--Gallery Modal END-->

    <!--Delete Confirmation Modal-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this image?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form asp-controller="Recipe" asp-action="DeleteImage">
                        <input name="imageId" id="delete-id" hidden type="number" />
                        <input type="submit" class="btn btn-primary" value="Delete" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Delete Modal END-->

    <!--User Images-->

    @if (!string.IsNullOrWhiteSpace(status))
    {
        <div>
            <span class="text-center text-danger">@status</span>
        </div>
    }

    <div class="row">
        @for (int index = 0; index < Model.Count; index++)
        {
            if (!String.IsNullOrWhiteSpace(Model[index].FileName))
            {
                <div class="col-lg-3 col-md-4 col-6 mb-3">
                    <a href="#" class="embed-responsive embed-responsive-1by1" data-toggle="modal" data-target="#galleryModal" onclick="setModalImage(@index)">
                        <img src="~/uploads/img/recipes/@Model[index].FileName" alt="recipe image" class="img-fluid rounded embed-responsive-item img-cover" />
                    </a>
                </div>
            }
        }
    </div>

    <!--Prev, Next Buttons-->
    <div class="row justify-content-center align-items-baseline">
        <a asp-action="UserGallery"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           class="btn btn-default @prevDisabled">
            <i class="fa fa-chevron-left fa-lg"></i>
        </a>
        <h5>@Model.PageIndex</h5>
        <a asp-action="UserGallery"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           class="btn btn-default @nextDisabled">
            <i class="fa fa-chevron-right fa-lg"></i>
        </a>
    </div>

</div>

<script>
    const deleteElement = document.querySelector('#delete-id');

    function setDeleteId(id) {
        deleteElement.value = id;
    }


    const items = document.querySelectorAll('#modalGallery .carousel-item');

    function setModalImage(index) {
        items.forEach(item => {
            item.classList.remove('active');
        });
        items.item(index).classList.add('active');
    }
</script>