﻿
@{
    ViewData["Title"] = "Cookbook - Recipes for every occasion";
    Recipe dayRecipe = ViewData["Day"] as Recipe;
    string dayImage = ViewData["DayImg"] as string;

    List<Recipe> popularRecipes = ViewData["Popular"] as List<Recipe>;
    List<string> popularImgs = ViewData["PopularImg"] as List<string>;
    List<Recipe> topRecipes = ViewData["Top"] as List<Recipe>;
    List<string> topImgs = ViewData["TopImg"] as List<string>;
}

@functions{
    public string ToFilePath(string img)
    {
        return string.IsNullOrWhiteSpace(img) ? "/images/placeholder.jpg" : $"/uploads/img/recipes/{img}";
    }

    public string Active(int index)
    {
        return index == 0 ? "active" : null;
    }

    public string Visible(bool visible)
    {
        return visible ? null : "d-none d-md-block";
    }
}

<div class="row">
    <!--Recipe of the day-->
    @if (dayRecipe != null)
    {
        <div class="col-lg-8 col-sm-12 mb-3">
            <h1 class="text-center"><strong>Recipe of the day</strong></h1>
            <a class="card mt-4 no-deco card-shadow" asp-controller="Recipe" asp-action="Details" asp-route-id="@dayRecipe.Id">
                <img class="card-img img-cover w-100" src="@ToFilePath(dayImage)" alt="recipe of the day" style="height:400px;" />
                <div class="card-body">
                    <div class="h3 card-title text-center underline">
                        @dayRecipe.Title
                    </div>
                    <p class="card-text">
                        <div class="text-center">
                            @for (float j = 0.99f, r = dayRecipe.CalculateRatingRounded(); j <= 5; j++)
                            {
                                @if (j < r)
                                {
                                    <i class="fas fa-star fa-lg c-orange"></i>
                                }
                                else if (j - 0.5f < r)
                                {
                                    <i class="fas fa-star-half-alt fa-lg c-orange"></i>
                                }
                                else
                                {
                                    <i class="far fa-star fa-lg c-gray"></i>
                                }
                            }
                            <span class="ml-1">@dayRecipe.GetRatingsCount()</span>
                        </div>
                    </p>
                </div>
            </a>
        </div>
    }
    <!--Recipe of the day END-->

    <!--Breakfast, Dinner,... Tag Search-->
    <div class="col-lg-4 col-sm-12 pb-lg-5 pl-lg-5 d-flex flex-column flex-wrap justify-content-around">
        <h3 class="text-center mt-5"><em>What should I make for...</em></h3>
        <div>
            <a asp-controller="Recipe" asp-action="GetRecipesWithTag" asp-route-tag="Breakfast" class="btn btn-main w-100 text-white p-3 font-20"><strong>Breakfast</strong></a>
        </div>
        <div>
            <a asp-controller="Recipe" asp-action="GetRecipesWithTag" asp-route-tag="Dinner" class="btn btn-main w-100 text-white p-3 font-20"><strong>Dinner</strong></a>
        </div>
        <div>
            <a asp-controller="Recipe" asp-action="GetRecipesWithTag" asp-route-tag="Dessert" class="btn btn-main w-100 text-white p-3 font-20"><strong>Dessert</strong></a>
        </div>
        <div>
            <a asp-controller="Recipe" asp-action="GetRecipesWithTag" asp-route-tag="Snack" class="btn btn-main w-100 text-white p-3 font-20"><strong>Snack</strong></a>
        </div>
    </div>
    <!--Breakfast, Dinnner... Tag Search END-->
</div>

<hr />

@if (popularRecipes != null)
{
    <!--Popular recipes carousel-->
    <div class="row mt-5">
        <div class="col-12">
            <h2>Popular recipes</h2>
        </div>
        <div id="carouselPopularControls" class="carousel slide col-12" data-ride="carousel" data-interval="false">
            <div class="carousel-inner p-4">
                @for (int i = 0; i + 4 < popularRecipes.Count(); i += 4)
                {
                    <div class="carousel-item @Active(i)">
                        <div class="cards-wrapper">
                            @for (int j = i; j < i + 4; j++)
                            {

                                <a asp-controller="Recipe" asp-action="Details" asp-route-id="@popularRecipes[j].Id" class="card carousel-card @Visible(i == j) no-deco card-shadow col-sm-12 col-md-3">
                                    <div class="embed-responsive embed-responsive-9by6">
                                        <img src="@ToFilePath(popularImgs[j])" alt="recipe thumbnail" class="embed-responsive-item img-cover">
                                    </div>

                                    <div class="card-body">
                                        <h5 class="card-title underline text-center text-ellipsis">@popularRecipes[j].Title</h5>
                                        <p class="card-text">
                                            <div class="text-center">
                                                @for (float f = 0.99f, r = popularRecipes[j].CalculateRatingRounded(); f <= 5; f++)
                                                {
                                                    @if (f < r)
                                                    {
                                                        <i class="fas fa-star c-orange"></i>
                                                    }
                                                    else if (f - 0.5f < r)
                                                    {
                                                        <i class="fas fa-star-half-alt c-orange"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="far fa-star c-gray"></i>
                                                    }
                                                }
                                                <span class="ml-1">@popularRecipes[j].GetRatingsCount()</span>
                                            </div>
                                        </p>
                                    </div>
                                </a>

                            }
                        </div>
                    </div>
                }
            </div>
            <a class="carousel-control-prev carousel-control" href="#carouselPopularControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next carousel-control" href="#carouselPopularControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!--Popular recipes carousel END-->
}

<hr />

@if (topRecipes != null)
{
    <!--Top Recipes Carousel-->
    <div class="row mt-5">
        <div class="col-12">
            <h2>Top recipes</h2>
        </div>
        <div id="carouselTopControls" class="carousel slide col-12" data-ride="carousel" data-interval="false">
            <div class="carousel-inner p-4">
                @for (int i = 0; i + 4 < topRecipes.Count(); i += 4)
                {
                    <div class="carousel-item @Active(i)">
                        <div class="cards-wrapper">
                            @for (int j = i; j < i + 4; j++)
                            {

                                <a asp-controller="Recipe" asp-action="Details" asp-route-id="@topRecipes[j].Id" class="card carousel-card no-deco card-shadow @Visible(i == j)  col-sm-12 col-md-3">
                                    <div class="embed-responsive embed-responsive-9by6">
                                        <img src="@ToFilePath(topImgs[j])" alt="recipe thumbnail" class="embed-responsive-item img-cover">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title underline text-center text-ellipsis">@topRecipes[j].Title</h5>
                                        <p class="card-text">
                                            <div class="text-center">
                                                @for (float f = 0.99f, r = topRecipes[j].CalculateRatingRounded(); f <= 5; f++)
                                                {
                                                    @if (f < r)
                                                    {
                                                        <i class="fas fa-star c-orange"></i>
                                                    }
                                                    else if (f - 0.5f < r)
                                                    {
                                                        <i class="fas fa-star-half-alt c-orange"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="far fa-star c-gray"></i>
                                                    }
                                                }
                                                <span class="ml-1">@topRecipes[j].GetRatingsCount()</span>
                                            </div>
                                        </p>
                                    </div>
                                </a>

                            }
                        </div>
                    </div>
                }
            </div>
            <a class="carousel-control-prev carousel-control" href="#carouselTopControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next carousel-control" href="#carouselTopControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!--Top Recipes Carousel END-->
}
